.btn {
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 20px;
}
.bordered{
    border:  1px solid gray;
}

.ghost{
    border: none;
}

.red{
    background-color: crimson;
}

.green{
    background-color: aquamarine;
}